<mat-dialog-content>
  <p mat-title>
    This is website uses the Giphy API and is not mean't for commercial purposes.
    To view the code for this website, visit <a href="https://github.com/Edu58/Angular-Material-Giphy-Clone">Github</a>
  </p>
   <div class="icons">
       <mat-icon class="github">
         <a href="https://github.com/Edu58">
           <fa-icon [icon]="githubIcon">
           </fa-icon>
         </a>
       </mat-icon>
       <mat-icon>
         <a href="https://twitter.com/GISDevEd">
           <fa-icon [icon]="twitterIcon">
           </fa-icon>
         </a>
       </mat-icon>
   </div>

</mat-dialog-content>